/*
 *          ╒═════════════════════════════════════════════════════════╕
 *                                Initialization
 *          ╘═════════════════════════════════════════════════════════╛
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --big-scale: 44px;
  --md-scale: 24px;
  --sm-scale: 12px;

  --color-primary: #14213d;
  --color-accent: #fca311;
  --color-surface: #e5e5e5;
  --color-background: #ffffff;

  --heading-font: 'DM Serif Display', serif;
  --body-font: 'DM Sans', sans-serif;
}

body {
  background-color: var(--color-background);
  font-size: 16px;
  font-family: var(--body-font);
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

h1 {
  font-size: clamp(3rem, 2.7273rem + 1.0909vi, 3.6rem);
}
h2 {
  font-size: clamp(2.25rem, 2.0455rem + 0.8182vi, 2.7rem);
}
h3 {
  font-size: clamp(1.875rem, 1.7045rem + 0.6818vi, 2.25rem);
}
h4 {
  font-size: clamp(1.5rem, 1.3636rem + 0.5455vi, 1.8rem);
}
h5 {
  font-size: clamp(1.25rem, 1.1364rem + 0.4545vi, 1.5rem);
}
h6 {
  font-size: clamp(1.125rem, 1.0227rem + 0.4091vi, 1.35rem);
}
p {
  font-size: clamp(0.8333rem, 0.7576rem + 0.303vi, 1rem);
}
button {
  font-size: clamp(0.8333rem, 0.7576rem + 0.303vi, 1rem);
}
label {
  font-size: clamp(0.8333rem, 0.7576rem + 0.303vi, 1rem);
}

label,
p,
span,
button {
  font-family: var(--body-font);
}

hr {
  width: 60%;
  margin-top: 12px;
  margin-bottom: 24px;
  border: 1px solid var(--color-surface);
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*
 *          ╒═════════════════════════════════════════════════════════╕
 *                                  Left Image
 *          ╘═════════════════════════════════════════════════════════╛
*/

#app #image {
  width: 50vw;
  height: 100vh;
  padding: var(--big-scale);
  overflow: hidden;
}

#app #image .img {
  background: url('/img1.png') no-repeat center / cover;
  height: calc(100vh - (2 * var(--big-scale)));
  border-radius: var(--big-scale);
}

/*
 *          ╒═════════════════════════════════════════════════════════╕
 *                                 Sign Up Part
 *          ╘═════════════════════════════════════════════════════════╛
*/

#signUp,
#signIn {
  width: 50vw;
  height: 100vh;
  position: relative;
  padding: var(--big-scale) var(--md-scale);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

#signUp .nameContainer,
#signUp .dobContainer,
.emailContainer,
.passwordContainer,
.btn {
  width: 50%;
}

.inputContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

#signUp h6,
#signIn h6 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.material-symbols-outlined {
  font-size: calc(1.5 * clamp(1.125rem, 1.0227rem + 0.4091vi, 1.35rem));
  padding-right: 12px;
}

.input {
  position: relative;
  margin-bottom: 28px;
  width: 100%;
}

.input label {
  position: absolute;
  left: 8px;
  top: 50%;
  padding: 0 10px;
  background-color: var(--color-background);
  transform: translateY(-50%);
  cursor: text;
  color: color-mix(in srgb, var(--color-primary) 60%, transparent 40%);
  transition: 100ms all ease-in-out;
}

.input input {
  width: 100%;
  outline: none;
  padding: 12px;
  border: 2px solid var(--color-primary);
  border-radius: var(--sm-scale);
}

.input:focus-within label,
.input input:not(:placeholder-shown) + label {
  font-size: 12px;
  top: 0;
  left: 16px;
  color: var(--color-primary);
}

.inputContainer.col {
  flex-direction: column;
  gap: 0;
}

.inputContainer.single {
  width: 100%;
}

.btn button {
  padding: 16px 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 600;
  align-items: center;
  border-radius: var(--sm-scale);
  outline: none;
  border: 3px solid transparent;
  background-color: var(--color-primary);
  color: var(--color-surface);
  margin: 12px 0;
  transition: all 200ms ease-in-out;
}

.btn button span {
  font-size: calc(0.8 * clamp(1.125rem, 1.0227rem + 0.4091vi, 1.35rem));
  margin: 0 8px;
}

.btn button:hover {
  border: 3px solid var(--color-primary);
  background-color: var(--color-background);
  color: var(--color-primary);
}

.below-btn {
  display: flex;
  width: 73%;
  gap: var(--md-scale);
}

.below-btn.single {
  width: 40%;
}

.below-btn button {
  padding: 16px 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 600;
  align-items: center;
  border-radius: var(--sm-scale);
  outline: none;
  border: 3px solid transparent;
  background-color: var(--color-accent);
  color: var(--color-primary);
  margin: 12px 0;
  transition: all 200ms ease-in-out;
}

.below-btn button span {
  font-size: calc(1 * clamp(1.125rem, 1.0227rem + 0.4091vi, 1.35rem)) !important;
  margin: 0 8px;
}

.below-btn button:hover {
  border: 3px solid var(--color-accent);
  background-color: var(--color-background);
  color: var(--color-accent);
}

#signIn {
  display: none;
}

/*
 *          ╒═════════════════════════════════════════════════════════╕
 *                                 Sign In Part
 *          ╘═════════════════════════════════════════════════════════╛
*/
